# Python-specific ignores
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.env.*

# Test and coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environment
venv/
ENV/
env/
env.bak/
venv.bak/

# Pipenv
Pipfile.lock

# Poetry
poetry.lock

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# IDEs and editors
.idea/
.vscode/
*.swp

# OS-specific ignores
.DS_Store
Thumbs.db

# Docker-specific ignores
docker-compose.override.yml
